<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/cc6c9ade37.js" crossorigin="anonymous"></script>       
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="container">
         <div class="header-title">
            <a href="/">Bookers</a>
         </div>          
         <% if user_signed_in? %>
          <ul>
            <li>
              <%= link_to "Home", user_path(current_user) %><!--user_path(@user.id)--->
            </li>
            <li>
              <%= link_to "Users", users_path %>
            </li>
            <li>
              <%= link_to "Books", books_path %>
            </li>
            <li>
              <%= link_to "logaut", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
         <% else %>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              Aboutまだできてない
            </li>
            <li>
              <%= link_to "sign up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "login", new_user_session_path %>
            </li>
          </ul>
         <% end %>
        </div>
      </nav>
    </header>     
   <%= yield %>
  </body>
</html>
