<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/cc6c9ade37.js" crossorigin="anonymous"></script>       
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navi">
        <div class="container">
          <a class="navi-title"href="/"><span>Bookers</span></a>
         <% if user_signed_in? %>
          <ul class="navi-ul ml-auto">
            <li>
              <%= link_to user_path(current_user),class:" link" do %><!--user_path(@user.id)--->
              <i class="fas fa-home">Home</i>
              <% end %>
            </li>
            <li>
              <%= link_to users_path,class:"link" do %>
              <i class="fas fa-users">Users</i>
              <% end %>
            </li>
            <li>
              <%= link_to books_path,class:"link " do %>
              <i class="fas fa-book-open">Books</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path,class:"link ", method: :delete  do%>
              <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </li>
          </ul>
         <% else %>
          <ul class="navi-ul ml-auto">
            <li>
              <%= link_to root_path,class:"link" do %>
              <i class="fas fa-home"> Home</i>
              <% end %>
            </li>
            <li>
              <%= link_to about_path, class:"link" do %>
              <i class="fas fa-link">About</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class:"link" do %>
              <i class="fas fa-user-plus">sign up</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path,class:"link" do %>
              <i class="fas fa-sign-in-alt">login</i>
              <% end %>
            </li>
          </ul>
         <% end %>
        </div>
      </nav>
    </header>     
    <div class="container content">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
